<nav>
<div>
    <a href="/articles">
    All Articles
    </a>
    </div>
<div>
    <a href="/books">
    All Books
    </a>
    </div>
    <div>
    <a href="/films">
    All Films
    </a>
    </div>
    <div>
    <a href="/podcasts">
    All Podcasts
    </a>
    </div>
    <div>
    <a href="/shows">
    All Shows
    </a>
    </div>
    </nav>
<h1> Hi, <%= @current_user.username %> </h1>